<div class="point" style="{{style}}" data-href="/images/signs/large/{{image}}.jpg" data-types="{{types}}">
  <div class="point-connector"></div>
  <div class="point-photo">
    <img src="/images/signs/thumbnails/{{image}}.jpg"/>
  </div>
  <div class="point-name">
    <span>{{name}}</span><br/>
    <span class="gray">{{address}}</span>
  </div>

  <div class="clear"></div>
</div>